<!--The whole content below can be removed with the new code.-->
<div id="contener">
  <header><p>Zgadnij który zapis hexadecymalny odpowiada któremu kolorowi. [Drag 'n drop]</p></header>
  <div id="appSingleSquareLayout">
      <app-single-square
        [attr.id] = "'square' + i"
        dnd-droppable
        [dropZones]="['item' + i]"
        (onDropSuccess)="successElement(i, $event)"
          *ngFor="let singleSquareColor of arrayOfColors; let i = index"
          [color]="singleSquareColor"
      >
      </app-single-square>

  </div>
  <div id="appSquareColorLayout">
      <app-square-color
        [attr.id] = shuffledColorMap[j][1]
        dnd-draggable
        [dragEnabled]="true"
        [dropZones]="[shuffledColorMap[j][1]]"
          *ngFor="let singleSquareColor of shuffledColorMap; let j = index"
      >

        #{{singleSquareColor[0]}}

      </app-square-color>
  </div>
  <button type="button" class="button_style" (click)="this.newColor()">New game</button>
</div>



